# Git
.git
.gitignore

# Elixir
_build
deps
*.ez

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log

# Test coverage
cover

# Documentation
doc

# Archives (if any exist)
*.tar.zst

# Temp files
.tmp